<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        font: 13px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    td, th {
        padding: 23px 10px;
        border: solid;
        border-width: 1px 0;
    }

    button {
        background: #ededed;
        border: 1px solid #ccc;
        padding: 10px 30px;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover, button:focus, button:active, button:target{
        background-color: #0074a9;
        outline: none;
    }

</style>
<body>


<div id="area1"></div>
<div id="area2"></div>


<button type="button" onmousedown="changeLess250()">Workforce < 250</button>
<button type="button" onmousedown="changeMore250()">Workforce 250+</button>
<button type="button" onmousedown="changeTotal()">All Workforce Bands (Total)</button>

<div id="chart", style="height:10px; margin:10px; font: 17px sans-serif; .objecttable td {
       padding: 8px;
     }"></div>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

    var industryNumbersLink = "https://raw.githubusercontent.com/tundrarich/tundrarich.github.io/d3/CSVfiles/industriesTotal.json"
    var industryProportionLink = "https://raw.githubusercontent.com/tundrarich/tundrarich.github.io/d3/CSVfiles/industriesPercentage.json"

    var changeLess250 = function(){
        document.getElementById('area1').innerHTML = '';
        document.getElementById('area2').innerHTML = '';
        createBarChart(industryNumbersLink, "d.less250", "Number of Surveys", "#area1", 0, 1)
        createBarChart(industryProportionLink, "d.less250", "Proportion of Responses (%)", "#area2", 100, 2)
    }
    var changeMore250= function(){
        document.getElementById('area1').innerHTML = '';
        document.getElementById('area2').innerHTML = '';
        createBarChart(industryNumbersLink, "d.more250", "Number of Surveys", "#area1", 0, 1)
        createBarChart(industryProportionLink, "d.more250", "Proportion of Responses (%)", "#area2", 100, 2)
    }

    var changeTotal = function(){
        document.getElementById('area1').innerHTML = '';
        document.getElementById('area2').innerHTML = '';
        createBarChart(industryNumbersLink, "d.total", "Number of Surveys", "#area1", 0, 1)
        createBarChart(industryProportionLink, "d.total", "Proportion of Responses (%)", "#area2", 100, 2)
    }





    function createKey() {


        var industries = [
            {title: "Accommodation And Food Service Activities", abbrv: "AFA"},
            {title: "Administrative And Support Service Activities", abbrv: "ASA"},
            {title: "Arts, Entertainment And Recreation", abbrv: "AER"},
            {title: "Construction", abbrv: "C"},
            {title: "Education", abbrv: "E"},
            {title: "Human Health And Social Work Activities", abbrv: "HHS"},
            {title: "Information And Communication", abbrv: "IC"},
            {title: "Manufacturing", abbrv: "M"},
            {title: "Mining And Quarrying", abbrv: "MQ"},
            {title: "Other Service Activities", abbrv: "OSA"},
            {title: "Professional, Scientific And Technical Activities", abbrv: "PST"},
            {title: "Real Estate Activities", abbrv: "REA"},
            {title: "Transportation And Storage", abbrv: "TS"},
            {title: "Water Supply, Sewerage, Waste Management And Remediation Activities", abbrv: "WSW"},
            {title: "Wholesale And Retail Trade; Repair Of Motor Vehicles And Motorcycles", abbrv: "WRM"},
            {title: "All Industries", abbrv: "AI"}
        ]


        var margin = {top: 100, right: 300, bottom: 1000, left: 100},
            width = 1200 - margin.left - margin.right,
            height = 200- margin.top - margin.bottom;



        var table = d3.select('#chart').append('table')
            .attr("style", "margin-right: 200px")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .style("border-collapse", "collapse")




        var tr = table.selectAll('tr')
            .data(industries).enter()
            .append('tr');

        tr.append('td').html(function(m) { return m.title; });
        tr.append('td').html(function(m) { return m.abbrv; });
        thead = table.append("thead")
    }





    function createBarChart(link, dataValue, yAxisTitle, area, maxYAxis, colourID) {


        //https://bl.ocks.org/bricedev/0d95074b6d83a77dc3ad

        var margin = {top: 50, right: 200, bottom: 30, left: 100},
            width = 1200 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        var svg = d3.select(area).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var groupsX = d3.scale.ordinal().rangeRoundBands([0, width], .1);
        var subGroupsX = d3.scale.ordinal();
        var yScale = d3.scale.linear().range([height, 0]);
        var xAxis = d3.svg.axis().scale(groupsX).tickSize(0).orient("bottom");
        var yAxis = d3.svg.axis().scale(yScale).orient("left");

        if(colourID== 1){
            var color = d3.scale.ordinal().range(["#ca0020","#0571b0"]);
        }else{
            var color = d3.scale.ordinal().range(["#f4a582"]);
        }


        d3.json(link, function (error, data) {

            var industries = data.map(function (d) {
                return d.industry;
            });
            var statuses = data[0].values.map(function (d) {
                return d.status;
            });

            groupsX.domain(industries);
            subGroupsX.domain(statuses).rangeRoundBands([0, groupsX.rangeBand()]);
            yScale.domain([0, d3.max(data, function (industry) {
                return d3.max(industry.values, function (d) {
                    if(maxYAxis != 0){
                        return maxYAxis;
                    }else{
                        return eval(dataValue)
                    }

                });
            })]);

            //Creates X Axis
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (height + 10) + ")")
                .call(xAxis);

            //Creates Y Axis
            svg.append("g")
                .attr("class", "y axis")
                .style('opacity','0')
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("dy", ".71em")
                .attr("y", -60)
                .attr("x", 40)
                .style("text-anchor", "end")
                .style('font-weight', 'bold')
                .text(yAxisTitle);

            svg.select('.y').transition().duration(500).delay(200).style('opacity','1');

            //Creates the subgroups
            var rects = svg.selectAll(".rects")
                .data(data)
                .enter().append("g")
                .attr("class", "g")
                .attr("transform", function (d) {
                    return "translate(" + groupsX(d.industry) + ",0)";
                });

            //Creates the bars
            rects.selectAll("rect")
                .data(function (d) {
                    return d.values;
                })
                .enter().append("rect")
                .attr("width", subGroupsX.rangeBand())
                .attr("x", function (d) {
                    return subGroupsX(d.status);
                })
                .style("fill", function (d) {
                    return color(d.status)
                })

                .attr("y", function (d) {return yScale(0);})
                .attr("height", function (d) {return height - yScale(0);})

                .on("mouseover", function(d) {
                    d3.select(this).style("fill", d3.rgb(color(d.status)).darker(2));
                })
                .on("mouseout", function(d) {
                    d3.select(this).style("fill", color(d.status));
                });

            rects.selectAll("rect")
                .transition()
                .delay(function (d) {return Math.random()*300;})
                .duration(1000)
                .attr("y", function(d) { return yScale(eval(dataValue)); })
                .attr("height", function(d) { return height - yScale(eval(dataValue)); });

            //Creates the values above each bar
            rects.selectAll("text")

                .data(function (d) {
                    return d.values;
                })

                .enter().append("text")
                .style('opacity','0')
                .attr("x", function (d) {
                    return subGroupsX(d.status) + 3;
                })
                .attr("y", function (d) {
                    return yScale(eval(dataValue)) - 5;
                })
                .text(function (d) {
                    return (eval(dataValue));
                })

            rects.selectAll("text").transition().duration(500).delay(200).style('opacity','1');


            //Creates the legend
            var legend = svg.selectAll(".legend")
                .data(data[0].values.map(function (d) {
                    return d.status;
                }).reverse())
                .enter().append("g")
                .attr("class", "legend")
                .attr("transform", function (d, i) {
                    return "translate(100," + i * 30 + ")";
                })
                .style("opacity","0");

            legend.append("circle")
                .attr("x", width - 27)
                .attr("cx", width - 5)
                .attr("cy", 4)
                .attr("r", 7)
                .style("fill", function (d) {
                    return color(d);
                });

            legend.append("text")
                .attr("x", width - 24)
                .attr("y", 9)
                .style("text-anchor", "end")
                .text(function (d) {
                    return d;
                });

            legend.transition().duration(500).delay(function(d,i){ return 1300 + 100 * i; }).style("opacity","1");
        });
    }



    createBarChart(industryNumbersLink, "d.total", "Number of Surveys", "#area1", 0, 1)
    createBarChart(industryProportionLink, "d.total", "Proportion of Responses (%)", "#area2", 100, 2)


    createKey()
</script>